<div class="container mt-4">
  <div class="card border bg-body-tertiary border-0 shadow-md shadow-sm">
    <div class="card-body">
      <input class="form-control form-control-lg rounded-pill" type="text" placeholder="What's your plan" aria-label=".form-control-lg example" style="cursor: pointer;" onclick="window.location='/todos/post'" readonly>
    </div>
  </div>
</div>