<nav class="navbar bg-body-tertiary border border-0 shadow-sm">
  <div class="container">
    <a href="/" class="navbar-brand mb-0 fw-bold" title="Logo">Todozify <span class="badge text-bg-secondary shadow-sm">SSR</span></a>
  </div>
</nav>